.navigation__btn {
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 6px 16px;
  cursor: pointer;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: var(--btn-txt-color);
  font-family: var(--main-font);
  font-weight: 500;
  background: var(--btn-bg-color-main);
  transition: background var(--transition-time),
    color var(--transition-time) ease-in-out;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}

.navigation__btn:hover {
  background: var(--btn-bg-color-main);
  box-shadow: var(--box-shadow-hover);
}

.navigation__btn:active {
  color: var(--btn-txt-color-active);
  background: var(--btn-bg-color-main-active);
  box-shadow: var(--box-shadow-active);
}
