.navigation__btn,
.action-btn {
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 6px 16px;
  cursor: pointer;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: var(--btn-txt-color);
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  background: var(--btn-bg-color-main);
  transition: background var(--transition-time),
    box-shadow var(--transition-time), color var(--transition-time) ease-in-out;
}

.navigation__btn:hover {
  background: var(--btn-bg-color-main);
  box-shadow: var(--box-shadow-hover);
}

.navigation__btn:active {
  color: var(--btn-txt-color-active);
  background: var(--btn-bg-color-main-active);
  box-shadow: var(--box-shadow-active);
}

.action-btn {
  color: var(--btn-txt-color-secondary);
  background: var(--btn-bg-color-secondary);
  padding: 10px 16px;
}

.action-btn:hover {
  box-shadow: var(--box-shadow-hover);
}

.action-btn:active {
  /* color: var(--btn-txt-color-secondary-active); */
  box-shadow: var(--box-shadow-active);
  background: var(--btn-bg-color-secondary-active);
}
